.TodoItem {
  background-color: #ffffffcb;
  position: relative;
  border-radius: 20px;
  width: calc(100% - 10%); 
  display: flex;  
  justify-content: center;
  align-items: center;
  margin-top: 24px;

  margin-right: auto;
  margin-left: auto;
  
  box-shadow: 6px 5px #120b13;;
}

.TodoItem-p {
  margin: 24px 0px 24px 24px;
  width: calc(100% - 120px);
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  font-weight: 400;
}
.TodoItem-p--complete {
  text-decoration: line-through;
}

.Icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  font-size: 24px;
  font-weight: bold;
  /* background-color: #CCC; */
}

.Icon-check {
  position: absolute;
  font-size: 30px;
  left: 12px;
}
.Icon-check--active {
  color: #62fc68;
}

.Icon-delete {
  position: absolute;
  top: 10px;
  right: 0;
}
.Icon-delete:hover {
  color: red;
}