.TodoCounter{
  color: rgb(5, 225, 57); 
  font-family: 'Open Sans Condensed', 
  sans-serif; 
  font-size: 32px; 
  font-weight: 700; 
  line-height: 64px; 
  margin: 0 0 0; 
  padding: 20px 30px; 
  text-align: center; 
  text-transform: uppercase;  
}